use('{{ atlas_database_name }}')

function fixDates() {
    let maxdate = db.{{ atlas_collection_name }}.aggregate([{
            "$sort": {
                "{{ atlas_archive_date_field }}": -1
            }
        },
        {
            "$limit": 1
        },
        {
            "$project": {
                "max_date_completed": "${{ atlas_archive_date_field }}",
                "_id": 0
            }
        }
    ]).toArray()[0]["max_date_completed"];


    let pipeline = [{
            "$addFields": {
                "diff": {
                    "$dateDiff": {
                        "startDate": maxdate,
                        "endDate": "$$NOW",
                        "unit": "day"
                    }
                }
            }
        },
        {
            "$set": {
                "date_assigned": {
                    "$dateAdd": {
                        "startDate": "$date_assigned",
                        "unit": "day",
                        "amount": {
                            "$subtract": ["$diff", 1]
                        }
                    }
                },
                "{{ atlas_archive_date_field }}": {
                    "$cond": {
                        "if": {
                            "$eq": ["$status", "complete"]
                        },
                        "then": {
                            "$dateAdd": {
                                "startDate": "${{ atlas_archive_date_field }}",
                                "unit": "day",
                                "amount": {
                                    "$subtract": ["$diff", 1]
                                }
                            }
                        },
                        "else": null
                    }

                }
            }
        },
        {
            "$unset": "diff"
        }
    ];


    result = db.{{ atlas_collection_name }}.updateMany({}, pipeline)
    console.log(JSON.stringify(result))
}


fixDates()