atlas_org_pub_key = "<org pub key>"
atlas_org_priv_key = "<org priv key>"
atlas_proj_pub_key = "<proj pub key>"
atlas_proj_priv_key = "<proj priv key>"
atlas_org_id="<org id>"
atlas_proj_id="<proj id>"
atlas_proj_name="<proj name>"
atlas_cluster_name = "<cluster name>"
atlas_archive_db = "education"
atlas_archive_collection = "grades"
atlas_archive_date_field = "date_completed"
