---
- name: Count Documents in atlasDB Atlas
  hosts: all
  gather_facts: no
  vars:
    atlas_base_url: "https://cloud.mongodb.com/api/atlas/v1.0"

  tasks:
  - name: Call atlasDB Atlas API with Curl
    command: >
      curl --user "{{ atlas_org_pub_key }}:{{ atlas_org_priv_key }}" \
      --digest \
      --header "Content-Type: application/json" \
      --request GET "{{ atlas_base_url }}/groups/{{ atlas_proj_id }}/clusters/{{ atlas_cluster_name }}"
    register: curl_response

  - name: Parse JSON and get the connection string 
    set_fact:
      atlas_srv_connection_string: "{{ (curl_response.stdout | from_json)['srvAddress'] }}"
      atlas_archive_connection_string: "{{ (curl_response.stdout | from_json)['connectionStrings']['onlineArchive'] }}"

  - name: Count the number of documents not in the archive. 
    command: >
      mongosh "{{ atlas_srv_connection_string }}/{{ atlas_database_name }}"
              --username "{{ atlas_proj_pub_key }}"
              --password "{{ atlas_proj_priv_key }}"
              --authenticationDatabase admin
              --eval "use('{{ atlas_database_name }}'); db.{{ atlas_collection_name }}.countDocuments()"
    register: unarchived_count

  - name: Count the number of documents in the archive. 
    command: >
      mongosh "mongodb://archived-{{ atlas_archive_connection_string[10:] }}/{{ atlas_database_name }}"
              --username "{{ atlas_proj_pub_key }}"
              --password "{{ atlas_proj_priv_key }}"
              --authenticationDatabase admin
              --eval "use('{{ atlas_database_name }}'); db.{{ atlas_collection_name }}.countDocuments()"
    register: archived_count
  
  - name: Show count of un-archived and archived documents
    debug:
      msg: "Un-archived documents: {{ unarchived_count.stdout }}, Archived documents: {{ archived_count.stdout }}"

