---
- name: Setup atlasDB Atlas Cluster
  hosts: all
  gather_facts: no
  vars:
    local_data_file: "../data/student_grades.json"
    local_fix_dates_file: "../ansible/scripts/fix-dates.js"
    local_create_index_file: "../ansible/scripts/create-index.js"

  tasks:
  - name: Template the fix-dates.js script
    template:
      src: ../ansible/scripts/fix-dates.js.j2
      dest: "{{ local_fix_dates_file }}" 

  - name: Template the create-index.js script
    template:
      src: ../ansible/scripts/create-index.js.j2
      dest: "{{ local_create_index_file }}" 

  - name: Import data into MongoDB using mongoimport
    command: >
      mongoimport --uri "{{ atlas_connection_string }}/{{ atlas_database_name }}"
                  --username "{{ atlas_proj_pub_key }}"
                  --password "{{ atlas_proj_priv_key }}"
                  --collection "{{ atlas_collection_name }}"
                  --file "{{ local_data_file }}"
                  --type json

  - name: Execute the fix-dates.js JavaScript file using atlassh
    command: >
      mongosh "{{ atlas_connection_string }}/{{ atlas_database_name }}"
              --file "{{ local_fix_dates_file }}"
              --username "{{ atlas_proj_pub_key }}"
              --password "{{ atlas_proj_priv_key }}"

  - name: Execute create-index.js JavaScript file using atlassh
    command: >
      mongosh "{{ atlas_connection_string }}/{{ atlas_database_name }}"
              --file "{{ local_create_index_file }}"
              --username "{{ atlas_proj_pub_key }}"
              --password "{{ atlas_proj_priv_key }}"
